Flask==2.3.2
requests==2.31.0
langchain-community==0.2.6
langchain==0.2.6
Werkzeug==2.3.3
gunicorn==20.1.0
flask-caching==1.11.1
scikit-learn==1.2.2
langdetect==1.0.9
regex==2023.6.3  # optional
python-dotenv==1.0.0  # optional
numpy==1.24.0
pdfminer.six==20201018
spacy==3.6.0
sentence-transformers==2.2.2
huggingface_hub==0.14.1